@tailwind base;
@tailwind components;
@tailwind utilities;

.ReportComponent{
    height: 70vh;
    width: 60vh;
}
.reportBorder{
    height: 33vh;
    width: 50vh;
}
.Tasks{
    height: 75vh;
}
.nullText{
    height: 75vh;
}
.Home{
    height: 90.7vh;
    width: 100%;
}
.map1{
    position: absolute;
    width: 36vh;
    top:23.2%;
    left: 32.1%;  
}
.map2{
    position: absolute;
    width: 22vh;
    top: 25.2%;
    left: 30%;  
}
.map3{ 
    position: absolute;
    width: 27vh;
    top: 33%;
    left: 23.8%;  
}
.map4{
    width: 26vh;
    rotate: -1deg;
    position: absolute;
    top: 38.6%;
    left: 35.2%;  
}
.map5{
    width: 26vh;
    rotate: 1deg;
    position: absolute;
    top: 45%;
    left: 29.1%; 
    
}
.map6{
    width: 18vh;
    position: absolute;
    top: 40%;
    left: 39.3%; 
}
.map7{
    width: 49.5vh;
    position: absolute;
    top: 37.5%;
    left: 48%; 
}
.map8{
    width: 28.4vh;
    position: absolute;
    top: 44%;
    left: 41.3%; 
}
.map9{
    width: 25vh;
    position: absolute;
    top: 61.5%;
    left: 34.2%; 
}
.map10{
    width:6.9vh;
    position: absolute;
    top:76.8%;
    left: 40.2%;
}
.map11{
    width: 15vh;
    position: absolute;
    top:76%;
    left: 42%;
}
.map12{
    position: absolute;
    width: 44.2vh;
    top:79.5%;
    left: 45%;  
    rotate: 1deg;
}
.map13{
    position: absolute;
    width: 6vh;
    top:87.4%;
    left: 42.6%;  
}
.jeddah{
    position: absolute;
    top:69%;
    left: 39%;  
}
.Najran{
    position: absolute;
    top:82%;
    left: 50%;     
}
.Riyadh{
    position: absolute;
    top:60%;
    left: 50%;        
}
.alkhubar{
    position: absolute;
    top:65%;
    left: 61%;     
}
.north {
    position: absolute;
    top:33%;
    left: 43%;       
}
.Tabuk{
    position: absolute;
    top:37%;
    left: 28%;     
}
.done{
    position: absolute;
    right: 11%;    
}

 /* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .Info{
        height: 70vh;
        width: 70vh;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .Info{
        height: 50vh;
        width: 40vh;
    }
}


/* Large laptop */
@media only screen and (min-width: 1400px) {
    .Tasks{
        height: 75vh;
    }
    .nullText{
        height: 75vh;
    }
    .Info{
        height: 70vh;
        width: 70vh;
    }
    .Home{
        height: 90.7vh;
        width: 100%;
    }
    .map1{
        position: absolute;
        width: 47vh;
        transform: matrix(1,0,-0.05,1,-10,14);  
    }
    .map2{
        position: absolute;
        width: 29vh;
        transform: matrix(1,0,-0.15,1,0,10); 
    }
    .map3{ 
        position: absolute;
        width: 35vh;
        transform: matrix(1,0.05,0,1,-20,24);  
    }
    .map4{
        width: 34vh;
        position: absolute;
        transform: matrix(1,-0.05,0,1,-50,44);  
    }
    .map5{
        width: 32vh;
        rotate: 1deg;
        position: absolute;
        transform: matrix(1,0.05,0,1,-43,64); 
        
    }
    .map6{
        width: 22vh;
        position: absolute;
        transform: matrix(1,0,0,1,-3,44); 
    }
    .map7{
        width: 61vh;
        position: absolute;
        transform: matrix(1,0,0,1,-25,20); 
    }
    .map8{
        width: 40vh;
        position: absolute;
        transform: matrix(1,0,0,1,-30,34);
    }
    .map9{
        width: 27vh;
        position: absolute;
        transform: matrix(1,-0.05,0,1,-40,94);
    }
    .map10{
        width:10vh;
        position: absolute;
        transform: matrix(1,-0.05,0,1,-80,79);
    }
    .map11{
        width: 20vh;
        position: absolute;
        transform: matrix(1,-0.05,0,1,-72,84);
    }
    .map12{
        position: absolute;
        width: 60vh;
        transform: matrix(1,-0.05,0,1,-30,110);
       
    }
    .map13{
        position: absolute;
        width: 8vh;
        transform: matrix(1,-0.05,0,1,0,154);  
    }
    .jeddah{
        position: absolute;
        top:69%;
        left: 39%;  
    }
    .Najran{
        position: absolute;
        top:82%;
        left: 50%;     
    }
    .Riyadh{
        position: absolute;
        top:60%;
        left: 50%;        
    }
    .alkhubar{
        position: absolute;
        top:65%;
        left: 61%;     
    }
    .north {
        position: absolute;
        top:33%;
        left: 43%;       
    }
    .Tabuk{
        position: absolute;
        top:37%;
        left: 28%;     
    }
    .done{
        position: absolute;
        right: 11%;    
    }

}
@media only screen and (max-width: 850px){
    .Info{
        height: 40vh;
        width: 40vh;
    }

}